@charset "UTF-8";


/* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart */
/* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart */
/* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart */
/* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart */
/* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart *//* StartTopSignOfCart */

.IndentOfTop {
	border-bottom: 2px solid #dbdcdc;
	height: 41px;
	margin-bottom: 1px;
}

.LocationOfEntireContainer {
}


.MenuThatShowWays {
background: none;
margin: 0 auto;
padding: 0 12px;
width: 1008px;
}


.SignsOfWays {
padding: 8px 0;
width: 100%;
background: none;
left: 0;
}

.LeftPart {
float: left;
width: 806px;
margin-left: -50px;
}

.LeftPart ol {
list-style: none;
margin: 0;
padding: 0;
}

#breadcrumbs li {
float: left;
margin: 0;
padding: 0 7px 0 0;
}

#breadcrumbs a {
margin-right: 7px;
color: #0046be;
text-decoration: none;
background-color: transparent;
font-size: 15px;
}

#breadcrumbs .divider {
width: 0;
height: 0;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
border-left: 4px solid #9a9b9b;
display: inline-block;
}

.RightPart {
	float: right;
	width: 140px;
	margin-right: 30px;
}


#breadcrumbsOfRight li {
float: left;
margin: 0 0 0 10px;
padding: 0;	
}

#breadcrumbsOfRight a {
	text-decoration: none;
	color: #0046be;
	background-color: transparent;
	font-size: 15px;
}

.RightPart ul {
list-style: none;
margin: 0;
padding: 0;
float: right;
}
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */
/* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart *//* EndTopSignOfCart */